/* space-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-mono-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-mono-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* lexend-deca-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-deca-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lexend-deca-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lexend-deca-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.header {
    padding-top: 10px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 58px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__link {
        font-family: "Space Mono";
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        color: #939CAA;

        &:hover {
            color: black;
            background-color: blue;
            padding: 0px 15px;
            border-radius: 8px;
            transition: all 0.5s ease-in-out;
        }
    }

    &__button {
        width: 180px;
        height: 53px;
        background-color: #FCB72B;
        border: none;

        // Text 
        font-family: "Space Mono";
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        color: #FFF;
        border-radius: 4px;
    }

    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.5s ease-in-out;
    }

    .block {
      display: block;
      transition: all 0.5s ease-in-out;
    }

    .modal__info {
      background-color: #FFF;
      width: 700px;
      height: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 12px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .modal__button {
      margin-left: 650px;
      margin-top: 18px;
      background-color: #FFF;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
}